<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.opc.freshness.service.dao.BatchStateMapper">
    <resultMap id="BaseResultMap" type="com.opc.freshness.domain.po.BatchStatePo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="batch_id" property="batchId" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="sku_id" property="skuId" jdbcType="INTEGER"/>
        <result column="sku_name" property="skuName" jdbcType="VARCHAR"/>
        <result column="sku_stock" property="skuStock" jdbcType="INTEGER"/>
        <result column="img_url" property="imgUrl" jdbcType="VARCHAR"/>
        <result column="quantity" property="quantity" jdbcType="INTEGER"/>
        <result column="operator" property="operator" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="tag" property="tag" jdbcType="VARCHAR"/>
        <result column="unit" property="unit" jdbcType="VARCHAR"/>
        <result column="degree" property="degree" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, batch_id, status, sku_id, sku_name, sku_stock, img_url, quantity, operator, create_time, tag, unit, degree
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from freshness_batch_state
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        DELETE FROM freshness_batch_state
        WHERE id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insertSelective" parameterType="com.opc.freshness.domain.po.BatchStatePo">
        insert into freshness_batch_state
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="batchId != null">
                batch_id,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="skuId != null">
                sku_id,
            </if>
            <if test="skuName != null">
                sku_name,
            </if>
            <if test="skuStock != null">
                sku_stock,
            </if>
            <if test="imgUrl != null">
                img_url,
            </if>
            <if test="quantity != null">
                quantity,
            </if>
            <if test="operator != null">
                operator,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="tag != null">
                tag,
            </if>
            <if test="unit != null">
                unit,
            </if>
            <if test="degree != null">
                degree,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="batchId != null">
                #{batchId,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="skuId != null">
                #{skuId,jdbcType=INTEGER},
            </if>
            <if test="skuName != null">
                #{skuName,jdbcType=VARCHAR},
            </if>
            <if test="skuStock != null">
                #{skuStock,jdbcType=INTEGER},
            </if>
            <if test="imgUrl != null">
                #{imgUrl,jdbcType=VARCHAR},
            </if>
            <if test="quantity != null">
                #{quantity,jdbcType=INTEGER},
            </if>
            <if test="operator != null">
                #{operator,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="tag != null">
                #{tag,jdbcType=VARCHAR},
            </if>
            <if test="unit != null">
                #{unit,jdbcType=VARCHAR},
            </if>
            <if test="degree != null">
                #{degree,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO freshness_batch_state (id, batch_id, status,
        sku_id, sku_name, sku_stock,
        img_url, quantity, operator,
        create_time, tag, unit, degree)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id,jdbcType=INTEGER}, #{item.batchId,jdbcType=INTEGER}, #{item.status,jdbcType=INTEGER},
            #{item.skuId,jdbcType=INTEGER}, #{item.skuName,jdbcType=VARCHAR},
            #{item.skuStock,jdbcType=INTEGER},
            #{item.imgUrl,jdbcType=VARCHAR}, #{item.quantity,jdbcType=INTEGER},
            #{item.operator,jdbcType=VARCHAR},
            #{item.createTime,jdbcType=TIMESTAMP},
            #{item.tag,jdbcType=VARCHAR},
            #{item.unit,jdbcType=VARCHAR}, #{item.degree,jdbcType=INTEGER})
        </foreach>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.opc.freshness.domain.po.BatchStatePo">
        update freshness_batch_state
        <set>
            <if test="batchId != null">
                batch_id = #{batchId,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="skuId != null">
                sku_id = #{skuId,jdbcType=INTEGER},
            </if>
            <if test="skuName != null">
                sku_name = #{skuName,jdbcType=VARCHAR},
            </if>
            <if test="skuStock != null">
                sku_stock = #{skuStock,jdbcType=INTEGER},
            </if>
            <if test="imgUrl != null">
                img_url = #{imgUrl,jdbcType=VARCHAR},
            </if>
            <if test="quantity != null">
                quantity = #{quantity,jdbcType=INTEGER},
            </if>
            <if test="operator != null">
                operator = #{operator,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="tag != null">
                tag = #{tag,jdbcType=VARCHAR},
            </if>
            <if test="unit != null">
                unit = #{unit,jdbcType=VARCHAR},
            </if>
            <if test="degree != null">
                degree = #{degree,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>