<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.opc.freshness.service.dao.BatchStateMapper">
    <resultMap id="BaseResultMap" type="com.opc.freshness.domain.po.BatchStatePo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="batch_id" property="batchId" jdbcType="INTEGER"/>
        <result column="shop_id" property="shopId" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="sku_id" property="skuId" jdbcType="INTEGER"/>
        <result column="sku_name" property="skuName" jdbcType="VARCHAR"/>
        <result column="sku_stock" property="skuStock" jdbcType="INTEGER"/>
        <result column="img_url" property="imgUrl" jdbcType="VARCHAR"/>
        <result column="quantity" property="quantity" jdbcType="INTEGER"/>
        <result column="operator" property="operator" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <resultMap id="VoResultMap" type="com.opc.freshness.domain.vo.BatchLogVo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="batch_id" property="batchId" jdbcType="INTEGER"/>
        <result column="sku_id" property="skuId" jdbcType="INTEGER"/>
        <result column="sku_name" property="skuName" jdbcType="VARCHAR"/>
        <result column="operate_type" property="operateType" jdbcType="INTEGER"/>
        <result column="quantity" property="count" jdbcType="INTEGER"/>
        <result column="operator" property="operatorName" jdbcType="VARCHAR"/>
        <result column="create_time" property="operateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <resultMap id="SkuCountResultMap" type="com.opc.freshness.domain.bo.SkuCountBo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="sku_id" property="skuId" jdbcType="INTEGER"/>
        <result column="sku_name" property="skuName" jdbcType="VARCHAR"/>
        <result column="count" property="count" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, batch_id, shop_id, status, sku_id, sku_name, sku_stock, img_url, quantity, operator, create_time
    </sql>
    <sql id="Vo_Column_List">
        <include refid="Base_Column_List"/>
        ,
        case status
        when 1 then 1
        when 6 then 2
        when 5 then 3
        end as operate_type
    </sql>
    <sql id="selectVoWhere">
        shop_id = #{shopId,jdbcType=INTEGER}
        AND status IN
        <foreach collection="statusList" index="index" item="item" open="(" close=")" separator=",">
            #{item,jdbcType=INTEGER}
        </foreach>
    </sql>
    <select id="selectVoCount" resultType="int">
        select
        count(1)
        from freshness_batch_state
        WHERE
        <include refid="selectVoWhere"/>
    </select>
    <select id="selectVoList" resultMap="VoResultMap">
        select
        <include refid="Vo_Column_List"/>
        from freshness_batch_state
        WHERE
        <include refid="selectVoWhere"/>
        ORDER BY create_time DESC
        LIMIT #{page.offset,jdbcType=INTEGER} ,#{page.limit,jdbcType=INTEGER}
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from freshness_batch_state
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        DELETE FROM freshness_batch_state
        WHERE id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insertSelective" parameterType="com.opc.freshness.domain.po.BatchStatePo">
        insert into freshness_batch_state
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="batchId != null">
                batch_id,
            </if>
            <if test="shopId != null">
                shop_id,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="skuId != null">
                sku_id,
            </if>
            <if test="skuName != null">
                sku_name,
            </if>
            <if test="skuStock != null">
                sku_stock,
            </if>
            <if test="imgUrl != null">
                img_url,
            </if>
            <if test="quantity != null">
                quantity,
            </if>
            <if test="operator != null">
                operator,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="batchId != null">
                #{batchId,jdbcType=INTEGER},
            </if>
            <if test="shopId != null">
                #{shopId,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="skuId != null">
                #{skuId,jdbcType=INTEGER},
            </if>
            <if test="skuName != null">
                #{skuName,jdbcType=VARCHAR},
            </if>
            <if test="skuStock != null">
                #{skuStock,jdbcType=INTEGER},
            </if>
            <if test="imgUrl != null">
                #{imgUrl,jdbcType=VARCHAR},
            </if>
            <if test="quantity != null">
                #{quantity,jdbcType=INTEGER},
            </if>
            <if test="operator != null">
                #{operator,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO freshness_batch_state (id, batch_id,shop_id, status,
        sku_id, sku_name, sku_stock,
        img_url, quantity, operator,
        create_time)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id,jdbcType=INTEGER}, #{item.batchId,jdbcType=INTEGER},
            #{item.shopId,jdbcType=INTEGER},#{item.status,jdbcType=INTEGER},
            #{item.skuId,jdbcType=INTEGER}, #{item.skuName,jdbcType=VARCHAR},
            #{item.skuStock,jdbcType=INTEGER},#{item.imgUrl,jdbcType=VARCHAR},
            #{item.quantity,jdbcType=INTEGER},#{item.operator,jdbcType=VARCHAR},
            #{item.createTime,jdbcType=TIMESTAMP})
        </foreach>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.opc.freshness.domain.po.BatchStatePo">
        update freshness_batch_state
        <set>
            <if test="batchId != null">
                batch_id = #{batchId,jdbcType=INTEGER},
            </if>
            <if test="shopId != null">
                shop_id = #{shopId,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="skuId != null">
                sku_id = #{skuId,jdbcType=INTEGER},
            </if>
            <if test="skuName != null">
                sku_name = #{skuName,jdbcType=VARCHAR},
            </if>
            <if test="skuStock != null">
                sku_stock = #{skuStock,jdbcType=INTEGER},
            </if>
            <if test="imgUrl != null">
                img_url = #{imgUrl,jdbcType=VARCHAR},
            </if>
            <if test="quantity != null">
                quantity = #{quantity,jdbcType=INTEGER},
            </if>
            <if test="operator != null">
                operator = #{operator,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="selectSkuCountByStatus" resultMap="SkuCountResultMap">
        SELECT
            a.id            AS id,
            a.sku_id        AS sku_id,
            c.sku_name      AS sku_name,
            sum(a.quantity) AS count
        FROM freshness_batch_state a
            LEFT JOIN freshness_batch b ON a.batch_id = b.id
            LEFT JOIN freshness_sku_kind c ON a.sku_id = c.sku_id AND a.shop_id = c.shop_id
        WHERE a.shop_id = #{shopId,jdbcType=INTEGER}
              AND a.status = #{status,jdbcType=INTEGER}
              AND b.kinds_id = #{kindId,jdbcType=INTEGER}
              AND date(b.create_time) = date(#{date,jdbcType=TIMESTAMP})
        GROUP BY sku_id;
    </select>
</mapper>