<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.opc.freshness.service.dao.DeviceKindMapper">
    <resultMap id="BaseResultMap" type="com.opc.freshness.domain.po.DeviceKindPo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="device_id" jdbcType="VARCHAR" property="deviceId"/>
        <result column="kind_id" jdbcType="INTEGER" property="kindId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <resultMap id="KindResultMap" type="com.opc.freshness.domain.po.KindPo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="config" jdbcType="VARCHAR" property="config"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, device_id, kind_id, create_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from freshness_device_kind
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectKindListByDeviceId" parameterType="java.lang.String" resultMap="KindResultMap">
        SELECT
            b.id,
            b.name,
            b.config
        FROM freshness_device_kind a
            LEFT JOIN freshness_kind b ON a.kind_id = b.id
        WHERE device_id = #{deviceId,jdbcType=VARCHAR}
        ORDER BY b.sort ASC
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        DELETE FROM freshness_device_kind
        WHERE id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insertSelective" parameterType="com.opc.freshness.domain.po.DeviceKindPo">
        insert into freshness_device_kind
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="deviceId != null">
                device_id,
            </if>
            <if test="kindId != null">
                kind_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="deviceId != null">
                #{deviceId,jdbcType=VARCHAR},
            </if>
            <if test="kindId != null">
                #{kindId,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.opc.freshness.domain.po.DeviceKindPo">
        update freshness_device_kind
        <set>
            <if test="deviceId != null">
                device_id = #{deviceId,jdbcType=VARCHAR},
            </if>
            <if test="kindId != null">
                kind_id = #{kindId,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>