<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.opc.freshness.service.dao.KindMapper">
    <resultMap id="BaseResultMap" type="com.opc.freshness.domain.po.KindPo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="expired" property="expired" jdbcType="REAL"/>
        <result column="delay" property="delay" jdbcType="INTEGER"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="sort" property="sort" jdbcType="INTEGER"/>
        <result column="config" property="config" jdbcType="VARCHAR"/>

    </resultMap>
    <sql id="Base_Column_List">
        id, name, expired, delay, code, sort, config
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from freshness_kind
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectByCode" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from freshness_kind
        where code = #{code,jdbcType=VARCHAR}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from freshness_kind
        where 1=1
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        DELETE FROM freshness_kind
        WHERE id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insertSelective" parameterType="com.opc.freshness.domain.po.KindPo">
        insert into freshness_kind
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="expired != null">
                expired,
            </if>
            <if test="delay != null">
                delay,
            </if>
            <if test="code != null">
                code,
            </if>
            <if test="sort != null">
                sort,
            </if>
            <if test="config != null">
                config,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="expired != null">
                #{expired,jdbcType=REAL},
            </if>
            <if test="delay != null">
                #{delay,jdbcType=INTEGER},
            </if>
            <if test="code != null">
                #{code,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                #{sort,jdbcType=INTEGER},
            </if>
            <if test="config != null">
                #{config,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.opc.freshness.domain.po.KindPo">
        update freshness_kind
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="expired != null">
                expired = #{expired,jdbcType=REAL},
            </if>
            <if test="delay != null">
                delay = #{delay,jdbcType=INTEGER},
            </if>
            <if test="code != null">
                code = #{code,jdbcType=INTEGER},
            </if>
            <if test="sort != null">
                sort = #{sort,jdbcType=INTEGER},
            </if>
            <if test="config != null">
                config = #{config,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>