<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.opc.freshness.service.dao.SalePredictMapper">
    <resultMap id="BaseResultMap" type="com.opc.freshness.domain.po.SalePredictPo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="shop_id" property="shopId" jdbcType="INTEGER"/>
        <result column="shop_name" property="shopName" jdbcType="VARCHAR"/>
        <result column="sku_id" property="skuId" jdbcType="INTEGER"/>
        <result column="sku_code" property="skuCode" jdbcType="VARCHAR"/>
        <result column="sku_name" property="skuName" jdbcType="VARCHAR"/>
        <result column="peak" property="peak" jdbcType="INTEGER"/>
        <result column="advise_count" property="adviseCount" jdbcType="INTEGER"/>
        <result column="sales_day" property="salesDay" jdbcType="DATE"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="last_modify_time" property="lastModifyTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, shop_id, shop_name, sku_id, sku_code, sku_name, peak, advise_count, sales_day, create_time, last_modify_time
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from fressness_sales_predict
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectByRecord" resultMap="BaseResultMap" parameterType="com.opc.freshness.domain.po.SalePredictPo">
        SELECT
        <include refid="Base_Column_List"/>
        FROM fressness_sales_predict
        WHERE 1=1
        <if test="shopId != null">
            AND shop_id = #{shopId,jdbcType=INTEGER}
        </if>
        <if test="shopName != null">
            AND shop_name = #{shopName,jdbcType=VARCHAR}
        </if>
        <if test="skuId != null">
            AND sku_id = #{skuId,jdbcType=INTEGER}
        </if>
        <if test="skuName != null">
            AND sku_name = #{skuName,jdbcType=VARCHAR}
        </if>
        <if test="peak != null">
            AND peak = #{peak,jdbcType=INTEGER}
        </if>
        <if test="adviseCount != null">
            AND advise_count = #{adviseCount,jdbcType=INTEGER}
        </if>
        <if test="salesDay != null">
            AND date(sales_day) = date(#{salesDay,jdbcType=DATE})
        </if>
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        DELETE FROM fressness_sales_predict
        WHERE id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="save" parameterType="com.opc.freshness.domain.po.SalePredictPo">
        INSERT INTO fressness_sales_predict (id, shop_id, shop_name,
                                             sku_id, sku_code, sku_name, peak,
                                             advise_count, sales_day
        )
        VALUES (#{id,jdbcType=INTEGER}, #{shopId,jdbcType=INTEGER}, #{shopName,jdbcType=VARCHAR},
                #{skuId,jdbcType=INTEGER}, #{skuCode,jdbcType=VARCHAR}, #{skuName,jdbcType=VARCHAR},
                #{peak,jdbcType=INTEGER},
                #{adviseCount,jdbcType=INTEGER}, #{salesDay,jdbcType=DATE}
        )
        ON DUPLICATE KEY UPDATE
            shop_name    = VALUES(shop_name),
            sku_name     = VALUES(sku_name),
            advise_count = values(advise_count)
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.opc.freshness.domain.po.SalePredictPo">
        update fressness_sales_predict
        <set>
            <if test="shopId != null">
                shop_id = #{shopId,jdbcType=INTEGER},
            </if>
            <if test="shopName != null">
                shop_name = #{shopName,jdbcType=VARCHAR},
            </if>
            <if test="skuId != null">
                sku_id = #{skuId,jdbcType=INTEGER},
            </if>
            <if test="skuName != null">
                sku_name = #{skuName,jdbcType=VARCHAR},
            </if>
            <if test="peak != null">
                peak = #{peak,jdbcType=INTEGER},
            </if>
            <if test="adviseCount != null">
                advise_count = #{adviseCount,jdbcType=INTEGER},
            </if>
            <if test="salesDay != null">
                sales_day = #{salesDay,jdbcType=DATE},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>